<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITDAService" messageEncoding="Mtom" />
                <binding name="BasicHttpBinding_ITDAService1" messageEncoding="Mtom" />
                <binding name="BasicHttpBinding_ITDAService2" messageEncoding="Mtom" />
                <binding name="BasicHttpBinding_ITDAService3" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9000/TDAServicio" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITDAService" contract="TDAService.ITDAService"
                name="BasicHttpBinding_ITDAService" />
            <endpoint address="http://localhost:9000/TDAServicio" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITDAService1" contract="TDAService.ITDAService"
                name="BasicHttpBinding_ITDAService1" />
            <endpoint address="http://localhost:9000/TDAServicio" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITDAService2" contract="TDAService.ITDAService"
                name="BasicHttpBinding_ITDAService2" />
            <endpoint address="http://localhost:9000/TDAServicio" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITDAService3" contract="TDAService.ITDAService"
                name="BasicHttpBinding_ITDAService3" />
        </client>
    </system.serviceModel>
</configuration>